-gm 100

-ti 4400
-tl 300

-sb 0

-gd dba
-gk dba

-s none

-iqmsgsz 500
-iqmsgnum 5

#-cl 1000m
#-ch 3000m

# Uncomment the lines below if you need to enable for debugging
#-zr all
#-zs 5G
#-zo /eniq/log/sw_log/iq/iqtracedwhdb.log

